body{
    background-color: rgb(247, 223, 191);
}
a{
    margin-left: 20px;
}
img{
    float:left;
    height: 90px;
    width: auto;
}
h1{
    margin-left: 12%;
    color: rgb(50, 50, 50);
}
h2{
    text-align: center;
}
p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 100px;
}
div{
    margin: 5%;
    background-color: tan;
    padding: 20px;
    border-radius: 10px;
}

@media only screen and (max-width:700px)
{
    
}
